body {
  background-color: lightblue;
  font-family: Arial;
}
button {
  padding: 9px 16px 8px 16px;
  background: hsl(215, 100%, 44%);
  border-radius: 20px;
  border: 1px solid hsl(215, 100%, 40%);
  transition: all 0.3s;
}
button:hover {
  background: hsl(215, 100%, 40%);
  border: 1px solid hsl(215, 100%, 34%);
}
.add {
  display: block;
  margin: 0px auto 30px;
}
.display, textarea {
  width: 70%;
  border: 2px solid #5D8AA8;
  border-radius: 30px;
}
.display {
  padding: 15px 50px;
  margin: 30px auto;
}
li {
  position: relative;
  padding: 15px 0;
  list-style: decimal;
  border-bottom: 1px solid #4169E1;
}
.todoButt {
  background-color: hsl(210, 100%, 50%);
  border: 2px solid hsl(210, 60%, 40%);
  transition: all 0.3s;
  transition: border 0.1s;
}
span {
  position: absolute;
  top: 7px;
  left: 80%;
}
.todoButt:hover {
  background-color: hsl(210, 80%, 50%);
  border: 2px solid hsl(210, 60%, 38%);
}
.todoButt:active {
  background-color: hsl(210, 70%, 50%);
  border: 1.5px solid hsl(210, 60%, 40%);
}
textarea {
  display: block;
  margin: 0 auto;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  resize: none;
  white-space: nowrap;
}
textarea:focus {
  outline: none;
  white-space: nowrap;
}
.checked {
  text-decoration: line-through;
  color: gray;
}
.unchecked {
  text-decoration: none;
  color: black;
}

@media (max-width: 1200px) {
  span {
    left: 70%;
  }
}
@media (max-width: 1000px) {
  span {
    left: 60%;
  }
}
@media (max-width: 800px) {
  span {
    left: 50%;
  }
}
@media (max-width: 600px) {
  span {
    left: 40%;
  }
}
@media (max-width: 400px) {
  button {
    padding: 6px 13px 5px 13px;
  }
}
@media (max-width: 300px) {
  span {
    left: 30%;
  }
}
